.dropdown__other_item {
    display: flex;
    padding-bottom: 30px;
}

.dropdown__other_item-image {
     width: 176px;
     height: 104px;
     border-radius: 6px;
     margin-right: 24px;
 }

.dropdown__item_link {
    color: #7F56D9;
    margin-top: 4px;
    margin-left: 10px;
}

.dropdown__other_link {
    display: flex;
    margin-top: 12px;
}