*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img, span {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

[class*=__container] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    height: 100%;
    line-height: 1;
    background-color: #F4F5F7;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.header {
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    height: 135px;
}

.header__menu {
    flex: 1 1 auto;
    height: 100%;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 40px;
    z-index: 10;
}

.header__logo_img {
    padding-right: 10px;
    margin-left: -4px;
}

.header__logo_text {
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
}

.menu__item {
    display: flex;
    align-items: center;
    color: #475467;
    gap: 13px;
}

.header__menu_items {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    height: 100%;
}


.button_group {
    margin-left: auto;
    gap: 18px;
}

.header__button_one {
    width: 95px;
    height: 45px;
    border-radius: 8px;
    color: #475467;
    background-color: transparent;
    border: 1px solid transparent;
}

.menu__link{
    all: unset;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__button_two {
    width: 95px;
    height: 45px;
    border-radius: 8px;
    color: white;
    background-color: #7F56D9;
    border: 1px solid #7F56D9;
}

@media (min-width: 992px) {
    .menu__item:hover .menu-item_dropdown {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .3s ease-in-out;
    }

}

.menu-item_dropdown {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;

    position: absolute;
    top: 0;
    left: 0;

    background: #fff;
    width: 100vw;
    z-index: -1;
    padding-top: 103px;
}

.menu-item_dropdown-bg {
    position: absolute;
    top: 103px;
    left: 80%;
    width: 20%;
    height: calc(100% - 103px);
    z-index: -1;

    background: #F9FAFB;
}

.menu-item_dropdown__container {
    display: flex;
}

.dropdown {
    min-width: 320px;
    padding-top: 32px;
    padding-bottom: 44px;
}

.dropdown.dropdown--other {
    margin-left: auto;
    padding: 32px 44px 44px 32px;
    background: #F9FAFB;
    border-radius: 6px 0 0 0;
}

.dropdown__item {
    display: flex;
    align-items: flex-start;
    margin-top: -4px;
    padding: 24px 52px 32px 0;
}

.dropdown__item_image {
    padding-right: 20px;
}

.dropdown__item_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4EBFF;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    margin-right: 16px;

}

.dropdown__title {
    font-size: 14px;
    color: #7F56D9;
}

.dropdown__item_new-container {
    display: flex;

}

.dropdown__item_title {
    font-size: 16px;
    font-weight: bold;
    color: #000;

}

.dropdown__item_title-container {
    display: flex;
}

.dropdown__item_title-new {
    color: #067647;
    background-color: #ECFDF3;
    padding: 2px 8px;
    border-radius: 16px;
    border: 1px solid #ABEFC6;
    margin-left: 8px;
    margin-top: -3px;

}

.dropdown__item_text {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;

}

.dropdown__other_item {
    display: flex;
    padding-bottom: 30px;
}

.title__other {
    padding-bottom: 24px;
}

.dropdown__other_item-image {
    width: 176px;
    height: 104px;
    border-radius: 6px;
    margin-right: 24px;
}

.dropdown__item_link {
    color: #7F56D9;
    margin-top: 4px;
    margin-left: 10px;

}

.dropdown__other_link {
    display: flex;
    margin-top: 12px;
}

.dropdown__other_footer {
    display: flex;
    margin-top: 45px;
}

.dropdown__other_footer-text {
    color: #7F56D9;
}

.dropdown__other_footer-icon {
    margin-left: 12px;
    margin-top: -3px;
}

.dropdown.dropdown__resources {
    display: flex;
    justify-content: space-between;
    min-width: 100%;

}

.dropdown__item_resources {
    display: flex;
}

.footer__resources {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FAFB;
    width: 100%;
    height: 80px;
    color: #6941C6;
}

/*-------------------------------------------------------------------*/
@media (max-width: 1200px) {
    .dropdown__other_item {
        display: flex;
        flex-direction: column;
    }

    .dropdown__other_item-image {
        margin-bottom: 24px;
    }
}

/*---------------------------------------------------------*/
@media (max-width: 992px) {
    .header__container {
        justify-content: space-between;
        height: 90px;
    }

    .header {
        background-color: white;
    }

    .header__menu.active {
        transform: translateX(0);
    }

    .header__menu {
        position: fixed;
        top: 80px;
        right: 0;
        width: 50%;
        min-width: 320px;
        height: 100%;
        padding: 15px;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 0.5s;
        overflow: auto;
    }

    .header__menu_items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    #nav-icon2 {
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 10;
    }

    #nav-icon2 span {
        display: flex;
        position: absolute;
        height: 4px;
        width: 50%;
        background: #7F56D9;
        opacity: 1;
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon2 span:nth-child(even) {
        left: 50%;
        border-radius: 0 9px 9px 0;
    }

    #nav-icon2 span:nth-child(odd) {
        left: 0;
        border-radius: 9px 0 0 9px;
    }

    #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
        top: 0;
    }

    #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
        top: 10px;
    }

    #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
        top: 21px;
    }

    #nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
        transform: rotate(45deg);
    }

    #nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
        transform: rotate(-45deg);
    }

    #nav-icon2.open span:nth-child(1) {
        left: 3px;
        top: 7px;
    }

    #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 3px);
        top: 7px;
    }

    #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
    }

    #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }

    #nav-icon2.open span:nth-child(5) {
        left: 3px;
        top: 15px;
    }

    #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 3px);
        top: 15px;
    }

    .menu__link {
        font-size: 16px;
        font-weight: 600;
        color: black;
    }

    .menu__item {
        width: 100%;
        justify-content: space-between;
    }

    .menu__item.button_group {
        flex-direction: column-reverse;
        /*padding: 16px;*/
    }

    .button {
        width: 100%;
        height: 44px;

    }

    .header__button_one {
        border: 1px solid #D0D5DD
    }

    .menu__item.menu-item_dropdown {
        opacity: 0;
    }

    .menu__item.menu-item_dropdown.active {
        opacity: 1;
    }

}

/*-----------------------------------------------------------*/
@media (max-width: 500px) {
    .header__menu {
        width: 100%;
    }
}
