.dropdown__item {
    display: flex;
    align-items: flex-start;
    margin-top: -4px;
    padding: 24px 52px 32px 0;
}

.dropdown__item_image {
    padding-right: 20px;
}


.dropdown__item_title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.dropdown__item_title-container {
    display: flex;
}

.dropdown__item_title-new {
    color: #067647;
    background-color: #ECFDF3;
    padding: 2px 8px;
    border-radius: 16px;
    border: 1px solid #ABEFC6;
    margin-left: 8px;
    margin-top: -3px;
}

.dropdown__item_text {
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}