.header__menu {
    flex: 1 1 auto;
    height: 100%;
}

.header__menu_items {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    height: 100%;
}

.menu__item {
    display: flex;
    align-items: center;
    color: #475467;
    gap: 13px;
}

.menu__item:hover .menu-item_dropdown {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .3s ease-in-out;
}